<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.automobileapp">
<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutomobileApp">
        <activity
            android:name=".IndividualCar"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".NameSurname"
            android:exported="true"
            android:parentActivityName=".PhotoUpload" />
        <activity
            android:name=".PhotoUpload"
            android:exported="true"
            android:parentActivityName=".TextActivity" />
        <activity
            android:name=".TextActivity"
            android:exported="true"
            android:parentActivityName=".Checkboxactivity" />
        <activity
            android:name=".Checkboxactivity"
            android:exported="true"
            android:parentActivityName=".AddCarActivity" />
        <activity
            android:name=".AddCarActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>